# Bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# Logs and local database
*.log
*.sqlite3

# IDE and editor settings
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python package dependencies
*.egg
*.egg-info/
dist/
build/

# Cache files
.cache/
*.mypy_cache/

# Private environment variables
.env

# Other folders
videofiles/
